/*
    En SASS on peut utiliser des variables.
    Cela nous sera utile pour le calcul de la largeur du plateau de jeu par ex.
*/
$largeur_carte: 100;
$hauteur_carte: $largeur_carte;
$nbre_cartes: 7;
$espacement_carte: 8; 
$largeur_contenu: $nbre_cartes * ($largeur_carte + $espacement_carte);

section#entete {
    text-align: center;
}

/* Notre espace de jeu
Note: tout élément (par exemple article.carte) sera précédé de
`section#principale` dans le CSS final. Ces éléments sont dits `nesting`.
*/
section#principale {
    width: #{$largeur_contenu}px;
    margin: 0 auto;

    section#scores {
        text-align: center;

        // On enlève cet effet de liste à puce
        ol {
            list-style-type: none;
            margin-left: -25px;
        }
    }

    /* La carte à jouer */
    article.carte {
        display: inline-block;
        height: #{$hauteur_carte}px;
        width: #{$largeur_carte}px;
        margin-left: #{$espacement_carte}px;
        /* On arrondi les bords :) */
        -moz-border-radius: 10px;       // mozilla
        border-radius: 10px;            // `normal`
        -webkit-border-radius: 10px;    // basés sur Webkit
        /* Quelqu'un me fait de l'ombre ? */
        -moz-box-shadow: 1px 1px 3px #000000;   // pour mozilla
        box-shadow: 1px 1px 3px #000000;        // navigateurs `normaux`
        -webkit-box-shadow: 1px 1px 3px #000000;// basés sur webkit
    }

    article.recto {
        background: { // ce bloc est utilisé comme préfixe pour les propriétés
            image: url("cards.png"); // on aura background-image
            repeat: no-repeat; // ici background-repeat
        }
    }

    article.verso {
        background: {
            image: none;
            color: grey;
        }
    }

    /*
    On décompose l'image cards.png pour extraire chaque fruit.
    Comme il y a répétition du CSS avec peu de changements, on va utiliser @for
    */
    @for $i from 0 to 17 {
        article.recto#{$i} {
            background-position: 0 #{$hauteur_carte * -1 * $i}px;
        }
    }
    
    form {
        text-align: center;
    }
}

// Espace pour informer de la progression de la partie
section#partie {
    text-align: center;

    progress.barreProgression {
        height: 1.5em;
        width: #{$largeur_contenu - $nbre_cartes*5}px;
        background-color: gray;
    }
}
